.chatmain
  .header
    .header__leftbox
      .header__leftbox__title
        グループ名
      .header__leftbox__members
        Member:
        .header_leftbox_members__member
          メンバー名

    .header__rightbox
      .header__rightbox__btn
        =link_to "Edit", "#", class: "edit"

  .messages
    .message
      .uppermessage
        .uppermessage__name
          メンバー名
        .uppermessage__date
          2020/04/05(sun) 11:43
      .lowermessage  
        .lowermessage__text
          メッセージ

  .form
    %form
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          =icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}
