.message{data: {message: {id: message.id}}}
  .uppermessage
    .uppermessage__name
      = message.user.name
    .uppermessage__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .lowermessage 
    - if message.content.present? 
      .lowermessage__text
        = message.content
    = image_tag message.image.url, class: "lowermessage__image" if message.image.present?
