.sidebar
  .header
    .header__box
      .header__box__name
        = current_user.name
      .header__box__icon
        .header__box__icon__icon1
          =link_to new_group_path, class: "icon1" do
            =icon('fas', 'edit')
        .header__box__icon__icon2
          =link_to edit_user_path(current_user), class: "icon2" do
            =icon('fas', 'cog')


  .groups
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__name
            =group.name
          .group__message
            新着メッセージ


            