.sidebar
  .header
    .header__box
      .header__box__name
        ユーザー名
      .header__box__icon
        .header__box__icon__icon1
          =link_to '#', class: "icon1" do
            =icon('fas', 'edit')
        .header__box__icon__icon2
          =link_to '#', class: "icon2" do
            =icon('fas', 'cog')


  .groups
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
      